* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Desktop */
body {
    background-color: #0E1014;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

header {
    display: flex;
    align-content: space-around;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

main {
    text-align: center;
}

h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    margin: 60px auto 24px;
}

h1 span {
    color: #9747FF;
}

p {
    width: 792px;
    margin: 0 auto 0;
}

a {
    display: block;
    background-color: #9747FF;
    text-decoration: none;
    color: #FFFFFF;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
    
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}


@media(max-width: 768px) {

    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

    section img {
        width: 659.5px;
    }
}

@media(max-width: 375px) {

    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px
    }

    p {
        font-size: 20px;
        width: 341px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }
    section img {
        width: 340px;
        height: 230.6px;
    }
}